.link {
    list-style: disc;
    text-decoration: underline; 
    padding: 4px 0;
    color: #fff;
}

.pageTitle {
    margin-left: 32px;
}

.link:hover {
    color: #f9d71c;
}

.categoryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 256px);
    justify-content: center;
}