.charactersGrid{
    display: grid;
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    padding: 32px 0;
    grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
    grid-template-rows: repeat(auto-fit, 1fr);
    align-content: space-around;
    justify-items: center;
    justify-content: center;
    row-gap: 32px;
}