.FooterContainer {
    margin-top: 70px;
    min-width: 100vw;
    display: grid;
    place-items: center;
    background-color: black;
    padding: 20px;
    color: white;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/footer/vader_2-86e8fdb4e26d.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
  
}

.FooterText {
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 0.875rem;
    color: #ccc;
}

.FooterLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 40px;
}

.FooterLink {
    padding: 0 11px 0 12px;
    color: #cccccc;
    font-size: 0.875rem;
    line-height: normal;
    text-decoration: none;
    margin: 6px 0 0;
}