.card {
    display: grid;
    width: 250px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 1fr);
    align-items: center;
    justify-items: center;
    padding:16px;
    box-shadow: 0px 0px 8px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.6);
}

.card:hover {
    box-shadow: inset 0px 0px 8px rgb(245, 227, 128);
    cursor: pointer;
}

.cardInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid white;
    margin-top: 16px;
    
}

.cardInfo a {
    font-size: 24px;
    padding: 8px 0px;
}

.card:hover .name {
    color: #f9d71c;
    text-decoration: underline;
}

.cardInfo span {
    font-size: 12px;
}