.container {
    width: clamp(220px, 60vw ,320px);
    height: 64px;
    display: flex;
    background-color: #1e272e;
    border-radius: 4rem;
    align-self: center;
    margin-right: 16px;
    margin-left: auto;
    align-items: center;
    justify-items: center;
  }
  
  .search_box {
    float: left;
    width: 0;
    height: 64px;
  /*   display: inline; */
    background: none;
    color: #f7f7f7;
    font-size: 1.3rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    position: relative;
    opacity: 1;
    transition: all .5s ease-in;
    cursor: text;
  /*   border: 2px solid tomato; */
  /*   margin-top: 5px; */
  }
  
  /* .search__box:focus, .search__box:hover {
    background-color: #f1f2f6;
  } */
  
  .search__icon {
    box-sizing: border-box;
    font-size: 2.5rem;
    display: inline-block;
  /*   justify-content: center;
    align-items: center; */
    margin-left: .8rem;
    margin-top: 0;
    
    color: #fa983a;
    transition: all .25s ease-in;
    padding: .7rem;
    border-radius: 50%;
  }
  
  .container:hover > .search_box {
    width: 85%;
    padding: 0 1rem;
  }

  .show {
    width: 85%;
    padding: 0 1rem;
  }
  
  .container:hover > .search__icon {
    background-color: #eee;
  }

  
  
  @media screen and (max-width: 669px) {

    .container {
        height: 50px;
    }

    .search_box {
        font-size: 0.9rem;
    }
}