.navGrid {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border: 2px solid white;
}

.navLink {
    list-style: none;
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    font-family:'starjedi', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid white;
    letter-spacing: 4px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.navLink:hover{
    box-shadow: inset 0px 0px 8px rgb(255, 255, 255);
}

.navLink:active{
    box-shadow: inset 0px 0px 8px rgb(255, 255, 255);
}