.intro {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 250%;
    opacity: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.openingCrawlContainer { 
    width: 100vw;
    position: relative;
    height: 80vh;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Set the animation & hide the logo */
.logo {    
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 1;
    margin: auto;
    animation: logo 8s ease-out 8s;
    opacity: 0;
}

.logo svg {
    width: inherit;
}

/* Scale the logo down and maintain it centered */
@keyframes logo {
    0% {
        width: 18em;        
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;      
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}

.content p {
  color: #f9d71c;
}

/* Set the font, lean the board, position it */
.board {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transform:  translateX(-50%);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  perspective: 400px;
  /* margin-left: -9em; */
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 40em;
  width: 70%;
  bottom: 0;
  left: 50%;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.board:after {    
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Set the scrolling animation and position it */
.content {
  animation: scroll 75s linear 16s;
  position: absolute;
  top: 100%;
  overflow: hidden;
}

.title, .subtitle {
  text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
        transform: rotateX(35deg)  translateZ(0px);
    }
    100% {
        top: -170%;
        transform: rotateX(45deg)  translateZ(-2500px);
    }
}

@media screen and (max-width: 669px) {

    .board {
        width: 100%;
        font-size: 200%;
        left: 8%;
        transform:  translateX(-4%);
        perspective: 400px;
    }
    .content {
        animation: scroll 50s linear 16s;
    }

    .intro {
        top: 15%;
        left: 15%;
     }
    .logo {
        left: 15%;
        top: 10%;
        /* animation: logo 7s ease-out 7s; */
    }
}