.characterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.characterCard {
    display: grid;
    grid-auto-flow: column;
    padding: 32px 0;
    place-items: center;
}

.characterInfo {
    display: flex;
    flex-flow: column;
    color: #fff;
}

.title {
    color: #fff;
}

.desktopCharacterName, .mobileCharacterName {
    color: #f9d71c;
    text-align: center;
}

.desktopCharacterNameMandalorian, .mobileCharacterNameMandalorian {
    color: #fff;
    font-family: 'Mandalorian', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.desktopCharacterNameMandalorian {
    display: block;
 }
 
 .mobileCharacterNameMandalorian {
     display: none;
 }

.mobileCharacterName {
    display: none;
}

.imageWrapper {
    margin: 0 16px;
    display: flex;
    height: fit-content;
    box-shadow: 0px 0px 8px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.7);
}

.link {
    cursor: pointer;
    padding: 4px 0;
    text-decoration: underline;
}

.link:hover {
    color: #f9d71c;
}

.contentText {
    color: #9e4f60;
}

.contentTitle {
    color: #ddd;
}

@media screen and (max-width: 669px) {

    .characterCard {
        grid-auto-flow: row;
    }

    .desktopCharacterName {
       display: none;
    }
    
    .mobileCharacterName {
        display: block;
    }

    .desktopCharacterNameMandalorian {
        display: none;
     }
     
     .mobileCharacterNameMandalorian {
         display: block;
     }
 

}